.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    grid-column-gap: 70px;
    grid-row-gap: 30px;
  }
  .grid-item {
   
    padding: 2px;
    text-align: center;
  }